<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
</head>
<body>
    <div class="addCompanyForm">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Search up a business!</legend>
                <div>
                    {{ form.cmpName.label() }}
                    {{ form.cmpName() }}
                </div>
            </fieldset>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    {% if results %}
    <div class="queryResult"">
        <table>
        <tr>
            <th>Company Name</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        <tr>
            {% for result in results %}
                <td>{{ result.cmpName }}</td>
                <td>{{ result.phoneNo }}</td>
                <td>{{ result.address }}</td>
            {% endfor %}
        </tr>
    </table>
    </div>
    {% endif %}
</body>
</html>
